#grid {
    display: grid;
    grid-template-columns: repeat(6, 100px); 
    grid-auto-rows: 60px;
    grid-gap: 1vw;
}

#grid div {
    font-size: 2.5vw;
    padding: 2vw;
    border-radius: 5px;
    justify-content: center;
}

#item1, #item3, #item5, #item7, #item9, #item11 {
    background-color: rgb(66, 66, 66);
    color: white;
}
#item2,#item4,#item6,#item8,#item10,#item12{
    background-color: rgb(187, 187, 187);
    color: black;
}